<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>GetCollectibleInfo - ferogram API</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="../../css/docs.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>
<body>
<div id="main_div">

<ul class="horizontal"><li><a href="../../index.html">API</a></li><span class="sep">›</span><li><a href="../../methods/index.html">Methods</a></li><span class="sep">›</span><li><a href="../../methods/fragment/index.html">Fragment</a></li><span class="sep">›</span><li>GetCollectibleInfo</li></ul>
<h1>GetCollectibleInfo</h1>
<pre>---functions---
fragment.getCollectibleInfo#be1e85ba collectible:<a href="../../types/input_collectible.html">InputCollectible</a> = <a href="../../types/fragment/collectible_info.html">fragment.CollectibleInfo</a></pre>
<button class="copy-btn" onclick="cp('from ferogram.raw.functions.fragment import GetCollectibleInfo')">Copy import</button>
<h3>Returns</h3>
<table><tr><td><a href="../../types/fragment/collectible_info.html">fragment.CollectibleInfo</a></td></tr></table>
<h3>Parameters</h3>
<table><tr><td>collectible</td><td><a href="../../types/input_collectible.html">InputCollectible</a></td><td>Required.</td></tr>
</table>

<textarea id="c" class="invisible"></textarea>
<script>function cp(t){var c=document.getElementById("c");c.value=t;c.select();try{document.execCommand("copy")}catch(e){}}</script>
</div>
<script>prependPath="../../";</script><script src="../../js/search.js"></script>
</body>
</html>